<?xml version="1.0" encoding="utf-8"?>
<repositories>
  <repository path="..\..\src\Crowbar.Mvc3\packages.config" />
  <repository path="..\..\src\Crowbar.Mvc4\packages.config" />
  <repository path="..\..\src\Crowbar.Tests\packages.config" />
  <repository path="..\..\src\Crowbar\packages.config" />
  <repository path="..\..\src\Raven.Tests\packages.config" />
  <repository path="..\..\src\Raven.Web\packages.config" />
  <repository path="..\..\src\Tool.Tests\packages.config" />
  <repository path="..\..\src\Tool.Web\packages.config" />
</repositories>