@using Crowbar.Tests.Mvc.Common
@model Crowbar.Tests.Mvc.Common.CheckBoxPayload
<form action="@CrowbarRoute.SubmitCheckBox.AsOutbound()" method="post">
    @Html.TextBoxFor(x => x.SanityCheck)
    @Html.CheckBoxFor(x => x.Condition)
    <button>OK</button>
</form>