@using Crowbar.Tests.Mvc.Common
@model Crowbar.Tests.Mvc.Common.TextBoxPayload
<form action="@CrowbarRoute.SubmitTextArea.AsOutbound()" method="post">
    @Html.TextAreaFor(x => x.Text)
    <button>OK</button>
</form>