@using Crowbar.Tests.Mvc.Common
@model Crowbar.Tests.Mvc.Common.TextBoxPayload
<form action="@CrowbarRoute.SubmitTextBox.AsOutbound()" method="post">
    @Html.TextBoxFor(x => x.Text)
    <button>OK</button>
</form>